.feedback {
  &__wrapper {
    padding: 0 0 70px 0;
  }
  &__block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__header {
    font-size: 20px;
    font-weight: 700;
  }
  &__subheader {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 10px;
  }
  hr {
    background-color: #e8e8e8;
    border-bottom: none;
  }
  .title {
    padding-top: 0;
  }
}
