@media (max-width: 1200px) {

}

@media (max-width: 991px) {
  .header {
    justify-content: space-around;
  }
  .promo {
    &__wrapper {
      margin-top: 50px;
      align-items: center;
    }
  }
  .advantage {
    &__icons {
      padding: 20px 0 0 0;
    }
    &__icon {
      width: 250px;
      padding: 0 8px;
    }
  }
  .consultation {
    .title_left {
      font-size: 30px;
      padding-left: 20px;
    }
    &__descr {
      padding-left: 20px;
    }
    .feed-form {
      margin-left: 20px;
    }
    .button_submit {
      height: 40px;
    }
  }
}

@media (max-width: 767px) {
  .promo {
    &__subheader {
      width: 100%;
    }
  }
  .advantage {
    &__icons {
      padding: 40px 0 40px 0;
    }
    &__icon {
      width: 100%;
      padding: 0 10px 0 10px;
    }
  }
  .title {
    font-size: 24px;
  }
  .consultation {
    .title_left {
      font-size: 30px;
      padding-left: 20px;
    }
    &__descr {
      padding-left: 20px;
    }
    .button_submit {
      height: 40px;
    }
  }
}

@media (max-width: 575px) {
  .header {
    display: flex;
    flex-direction: column;
    &__official {
      padding-top: 20px;
      font-size: 16px;
    }
    &__phone {
      text-align: center;
    }
  }

  .xs-hidden {
    display: none;
  }

  .promo {
    min-height: 600px;
    &__wrapper {
      margin-top: 20px;
    }
    &__header {
      font-size: 22px;
      margin: 0 auto;
    }
    &__subheader {
      font-size: 16px;
      text-align: center;
    }
    &__icons {
      width: 300px;
      margin: 0 auto;
      margin-top: 20px;
      &__icon {
        font-size: 12px;
      }
    }
    &__link {
      margin: 0 auto;
      margin-top: 12px;
    }
    .button_main {
      margin: 0 auto;
      width: 250px;
      height: 40px;
      margin-top: 30px;
    }
  }
  .advantage {
    &__official {
      font-size: 22px;
    }
    &__icons {
      padding-top: 45px;
      display: flex;
      flex-direction: column;
    }
      &__icon {
        padding-top: 10px;
      }
    }

  .consultation {
    padding-top: 10px;
    min-height: 400px;
    &__descr {
      text-align: center;
      font-size: 13px;
    }
    .title_left {
      font-size: 14px;
      text-align: center;
    }
    .feed-form {
      margin: 0 auto;
      margin-top: 30px;
    }
  }


}