@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "libs/slick";
@import "libs/animate";

@import "base/variables";
@import "base/animations";
@import "base/mixins";

@import "sections/promo";
@import "sections/header";
@import "sections/buttons";
@import "sections/advantage";
@import "sections/titles";
@import "sections/consultation";
@import "sections/forms";
@import "sections/carousel";
@import "sections/catalog";
@import "sections/feedback";
@import "sections/footer";
@import "sections/modals";
@import "sections/pageup";

@import "media";


* {
  font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}